@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
  box-sizing: border-box;
}

#__next {
  min-height: 100vh;
  padding: 80px 80px;

}

.btn-type-1 {
  @apply rounded-lg px-8 py-2	bg-primaryColor text-white
}

.icon {
  @apply w-8	h-8 bg-primaryColor rounded-md text-white flex justify-center items-center
}